{% set pageTitle = "We do not have a record of this isolation note" %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% extends "includes/layout.html" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-panel nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-4">
        <h1 class="nhsuk-heading-l">We do not have a record of this isolation note</h1>
        <p>We cannot find an isolation note that matches the reference number and the date of birth you entered.</p>
         <h2 class="nhsuk-heading-m">What to do next</h2>
        <p>Enter the information again, in case it was entered incorrectly.</p>
        <p>Check with your employee that you have the right date of birth for them. If they give you a different date birth, try entering the information again.</p>
        <p>Contact us if you think the note is valid but you keep getting this message saying we cannot find a matching note.</p>
      </div>

     <h2 class="nhsuk-heading-m">Further information</h2>
    <p><a href="https://www.gov.uk/government/publications/guidance-to-employers-and-businesses-about-covid-19/guidance-for-employers-and-businesses-on-coronavirus-covid-19">GOV.UK: Guidance for employers and businesses on coronavirus</a></p>

    </div>
  </div>
{% endblock %}
