{% set pageTitle = "When do you need this note to start from" %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}
{% set version = "v2" %}

{% extends "includes/layout.html" %}

{% block backLink %}
<div class="nhsuk-back-link">
  <a class="nhsuk-back-link__link" href="/{{version}}/screener-question-why">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back
  </a>
</div>
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form method="post" action="/{{version}}/screener-question-date/answer">

        <div class="nhsuk-form-group">
          <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <h1 class="nhsuk-fieldset__heading">
                When do you need this note to start from?
              </h1>
            </legend>

            <div class="nhsuk-radios">
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="self-isolate-date-1" name="self-isolate-date" type="radio" value="today" {{ checked("self-isolate-date", "today") }}>
                <label class="nhsuk-label nhsuk-radios__label" for="self-isolate-date-1">
                  Today
                </label>
              </div>
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="self-isolate-date-2" name="self-isolate-date" type="radio" value="last-2-weeks" {{ checked("self-isolate", "last-2-weeks") }}>
                <label class="nhsuk-label nhsuk-radios__label" for="self-isolate-date-2">
                  Sometime in the past
                </label>
              </div>
            </div>

          </fieldset>
        </div>

        <details class="nhsuk-details">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Why are we asking this?
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <p>We need to include this information on your isolation note.</p>
          </div>
        </details>

        <button class="nhsuk-button" type="submit">
          Continue
        </button>

      </form>

    </div>  
  </div>
{% endblock %}
