{% set pageTitle = "Accessibility statement" %}

{% extends "includes/layout.html" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>Accessibility statement</h1>
      <p>This website is run by NHS Digital.</p>
      <p>We want everyone to be able to use this website.</p>

      <h2>How accessible this website is</h2>
      <p>We’re committed to making this website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>
      <p>This website is fully compliant with the <a href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines version 2.1</a> AA standard.</p>
      <p>You should be able to:</p>
      <ul>
        <li>change colours, contrast levels and fonts</li>
        <li>zoom in up to 300% without the text spilling off the screen</li>
        <li>navigate most of the website using just a keyboard</li>
        <li>navigate most of the website using speech recognition software</li>
        <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
      </ul>

      <h3>Accessibility issue 1</h3>
      <p>...</p>

      <h3>Accessibility issue 2</h3>
      <p>...</p>

      <h3>Accessibility issue 3</h3>
      <p>...</p>     

      <h2>What to do if you can’t access parts of this website</h2>
      <p>...</p>
      
      <h2>Reporting accessibility problems with this website</h2>
      <p>Contact us to tell us about any accessibility problems or to give us feedback.</p>
      <p><strong>By email</strong><br><a href="mailto:enquiries@nhsdigital.nhs.uk">enquiries@nhsdigital.nhs.uk</a></p>
      <p><strong>By phone</strong><br>0300 303 5678<br>Monday to Friday, 9am to 5pm excluding bank holidays</p>

      <h2>By using the Next Generation Text service</h2>
      <p>If you are Deaf, have hearing loss or have difficulty speaking you can contact us using the Next Generation Text (NGT) service.</p>
      <p>To call us using the Next Generation Text service, dial 18001 followed by 0300 303 5678.</p>

      <h2>Enforcement procedure</h2>
      <p>The Equality and Human Rights Commission (EHRC) is responsible for enforcing the accessibility regulations.</p>
      <p>If you’re not happy with how we respond to your complaint, <a href="https://www.equalityadvisoryservice.com/app/ask">contact the Equality Advisory and Support Service (EASS)</a>.</p>
      

    </div>
  </div>
{% endblock %}
