{% set pageTitle = "Application complete" %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% extends "includes/layout.html" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">Your coronavirus self-isolation note</h1>

      <p><a href="/blank.pdf">Download your coronavirus self-isolation note (PDF)</a></p>
      <p>Your URN is <strong>01100001 01100100 01100001 01101101</strong></p>

      <h2 class="nhsuk-heading-m">Need help saving the PDF file?</h2>
      <p>XXX</p>

      <h2 class="nhsuk-heading-m">What you need to do next</h2>
      <p><strong>If you are employed:</strong> Please show this form to your employer. You could get Statutory Sick Pay (SSP) which is paid by your employer. If your employer cannot pay you SSP they will give you form SSP1 to claim benefits.</p>
      <p><strong>If you are self-employed:</strong> You could claim benefits.</p>
      <p><strong>If you are already claiming benefits:</strong> Please send this form to the office dealing with your claim.</p>
      <p><strong>If you need to make a claim to benefits:</strong> Visit <a href="https://www.gov.uk/browse/benefits">www.gov.uk/browse/benefits</a> or phone 0800 055 6688 (8am to 6pm Monday to Friday). Textphone users call 0800 023 4888.</p>

    </div>
  </div>
{% endblock %}
