{% set pageTitle = "Your isolation note" %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% extends "includes/layout.html" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-panel nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-4">
        <h1 class="nhsuk-heading-l">Your isolation note</h1>
        <p>Your reference number is <span class="nhsuk-u-bold">1111 2222 3333 4444</span></p>
        <p>Your isolation note has been emailed to <span class="nhsuk-u-bold">{% if data['email'] %}{{ data['email'] }}{% else %}email@email.com{% endif %}</span></p>
        <p>You can also download your isolation note</p>
        <a class="nhsuk-button nhsuk-u-margin-bottom-0" href="blank.pdf">Download your note (PDF, 82KB)</a>
      </div>

      <p>Write down your reference number and keep it safe.</p>

      <h2 class="nhsuk-heading-m">What you need to do next</h2>
      <p>Send your isolation note to your employer if they ask to see it. They may check the details you've provided using the <a href="/">Check an isolation note service</a>.</p>
      <p>Find <a href="https://www.understandinguniversalcredit.gov.uk/coronavirus/">information on coronavirus and claiming benefits on GOV.UK</a>.</p>
      
      <h3 class="nhsuk-heading-s">If you are having problems with your note</h3>
      <p>If the email has not arrived, check your junk mail folder.</p>
      <p>If you need more help, check our <a href="https://www.nhs.uk/using-the-nhs/nhs-services/the-nhs-app/isolation-note/help">support page</a>.</p>
      
      <h2 class="nhsuk-heading-m">Health advice</h2>
      <p>Get the latest <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/">NHS information on coronavirus</a>, including advice on self-isolation.</p>
      
      <p>If you get symptoms or if your symptoms get worse, get advice from:</p>
      <ul>
        <li>England: <a href="https://111.nhs.uk/covid-19">NHS 111 online coronavirus service</a></li>
        <li>Scotland: <a href="https://www.nhsinform.scot/illnesses-and-conditions/infections-and-poisoning/coronavirus-covid-19">NHS inform</a></li>
        <li>Wales: <a href="https://www.nhsdirect.wales.nhs.uk/coronavirus(2019ncov)">NHS Direct Wales</a></li>
        <li>Northern Ireland: <a href="https://www.publichealth.hscni.net/news/covid-19-coronavirus">Public Health Agency</a></li>
      </ul>

      <h2 class="nhsuk-heading-m">Help the NHS respond to coronavirus</h2>
      <p>Use the quick <a href="https://www.nhs.uk/coronavirus-status-checker">NHS coronavirus status checker</a> to tell us about your current experience of the virus.</p>
      <p>This will help the NHS plan its response to coronavirus by showing where the virus is spreading and how it affects people.</p>
    </div>
  </div>
{% endblock %}
