{% set pageTitle = "Application complete" %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% extends "includes/layout.html" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">Application complete</h1>

      <div class="nhsuk-panel nhsuk-panel--confirmation nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-4">

        <div class="nhsuk-panel__body">
          <p class="nhsuk-u-margin-bottom-0"><a href="/blank.pdf">Download your PDF certificate</a></p>
        </div>

      </div>

      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Need help saving the PDF file?
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>...</p>
        </div>
      </details>


      <h2 class="nhsuk-heading-m">What you need to do now</h2>
      <p><strong>If you are employed:</strong> Please show this form to your employer. You could get Statutory Sick Pay (SSP) which is paid by your employer. If your employer cannot pay you SSP they will give you form SSP1 to claim benefits.</p>
      <p><strong>If you are self-employed:</strong> You could claim benefits.</p>
      <p><strong>If you are already claiming benefits:</strong> Please send this form to the office dealing with your claim.</p>
      <p><strong>If you need to make a claim to benefits:</strong> Visit <a href="https://www.gov.uk/browse/benefits">www.gov.uk/browse/benefits</a> or phone 0800 055 6688 (8am to 6pm Monday to Friday). Textphone users call 0800 023 4888.</p>

    </div>
  </div>
{% endblock %}
