{% set pageTitle = "Your isolation note" %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% extends "includes/layout.html" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">Your isolation note</h1>
      <p><a href="/blank.pdf">Download your isolation note (PDF)</a></p>
      <p>Your reference number is <strong>1111 2222 3333 4444</strong></p>

      <h2 class="nhsuk-heading-m">Need help saving the PDF file?</h2>
      <p>xxx</p>

    </div>
  </div>
{% endblock %}
