{% set pageTitle = "Application complete" %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% extends "includes/layout.html" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">Your coronavirus self-isolation note</h1>

      <p>Your coronavirus self-isolation note has been emailed to <strong>{% if data['email'] %}{{ data['email'] }}{% else %}email@email.com{% endif %}</strong></p>
      <p>Your reference number is <strong>01100001 01100100 01100001 01101101</strong></p>


      <h2 class="nhsuk-heading-m">What you need to do next</h2>
      <p><strong>If you are employed</strong> <br>Please show this email to your employer. Your employer may want to check the details you've provided on coronavirus-self-isolation-verify</p>
      <p><strong>If you are self-employed</strong> <br>You could claim benefits.</p>
      <p><strong>If you are already claiming benefits</strong> <br>Please show this email to the office dealing with your claim.</p>
      <p><strong>If you need to make a claim to benefits</strong> <br>Visit <a href="https://www.gov.uk/browse/benefits">www.gov.uk/browse/benefits</a> or phone 0800 055 6688 (8am to 6pm Monday to Friday). <br>Textphone users call 0800 023 4888.</p>

    </div>
  </div>
{% endblock %}
