{% set pageTitle = "Get an isolation note" %}

{% extends "includes/layout.html" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>Get an isolation note</h1>
      <p>Use this service if:</p>
      <p>you have to stay off work for more than 7 days and</p>
      <ul>
        <li>your absence is because of coronavirus
        <li>you need a note for your employer</li>
      </ul>
      
      <p>You do not need any kind of note if you have to stay at home for 7 days or less.</p>
      
      <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information: </span>
        <p>If you have to stay at home but feel well enough to work, ask your employer if you can work from home. If you can work from home, you will not need an isolation note.</p>
      </div>

      <p>You can use this service on behalf of someone else.</p> 
  
      <a class="nhsuk-button" href="/screener-question">Start now</a>

      <h2>Before you start</h2>
      <p>If you are not sure if you need to stay at home, get advice now from the <a href="https://111.nhs.uk/covid-19">111 coronavirus service</a>.</p>
      <p>By using this service you are agreeing to <a href="/#4">our terms and conditions</a>.</p>

    </div>

  </div>
{% endblock %}
