{% set pageTitle = "Check an isolation note" %}

{% extends "includes/layout.html" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>Check an isolation note</h1>
      <p>This is a new service for employers. </p>
      <p>It is not yet live but will be available soon.</p>
      <p>Employers will be able to verify any isolation notes given to them by employees.</p>

      <h2>What are isolation notes?</h2>
      <p>An isolation note is an official confirmation of absence from work during the coronavirus outbreak.</p>
      <p>The note confirms that the person has been told to stay at home by NHS 111, a medical professional or on official advice.</p>

      <h2>More information for employers</h2>
      <p>Find <a href="https://www.gov.uk/government/news/coronavirus-covid-19-guidance-for-employees-employers-and-businesses">coronavirus guidance for employers on GOV.UK</a></p>

    </div>

  </div>
{% endblock %}
