{% set pageTitle = "Get an isolation note" %}

{% extends "includes/layout.html" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>Get an isolation note</h1>
      <p>Use this service if:</p>
      <ul>
        <li>you have already been self-isolating for 7 days and need a note for your employer that you need to stay at home for longer</li>
        <li>you have agreed with your employer that you cannot work from home</li>
        <li>you need a note to claim sick pay or benefits while you're unable to work</li>
      </ul>
      
      <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information: </span>
        <p>You can stay off work for up to 7 days without requiring a fit note or isolation note.</p>
      </div>

      <p>You can request an isolation note on behalf of someone else.</p> 
  
      <a class="nhsuk-button" href="/screener-question">Start now</a>

      <h2>Before you start</h2>
      <p>If you are not sure if you need to stay at home, get advice now from the <a href="https://111.nhs.uk/covid-19">111 coronavirus service</a>.</p>
      <p>In using this service you must agree to <a href="/#4">our conditions of use</a></p>

    </div>

  </div>
{% endblock %}
