{% set pageTitle = "Get a self-isolation note" %}

{% extends "includes/layout.html" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <h1>Get a self-isolation note</h1>
        <p>Use this service to get a form that:</p>

        <ul>
          <li>confirms you have been told to isolate yourself</li>
          <li>we can email to you</li>
          <li>you can give to your employer</li>
          <li>you can give to the benefits office</li>
        </ul>

        <p>We need to ask you a few questions to create the form. This takes around 5 minutes.</p>

        <a class="nhsuk-button" href="/register-your-details">Start now</a>

        <h2>Before you start</h2>

        <p>You will be required to accept our terms and conditions before continuing the process.</p>

    </div>

    <aside class="nhsuk-grid-column-one-third">
      <div class="nhsuk-related-nav">
        <nav class="nhsuk-related-nav__nav-section" aria-labelledby="parent-title">
          <h2 class="nhsuk-related-nav__heading" id="parent-title">Subsection</h2>
          <ul class="nhsuk-related-nav__list">
            <li class="nhsuk-related-nav__item"><a class="nhsuk-related-nav__link" href="/#1">Related link</a></li>
            <li class="nhsuk-related-nav__item"><a class="nhsuk-related-nav__link" href="/#2">Related link</a></li>
            <li class="nhsuk-related-nav__item"><a class="nhsuk-related-nav__link" href="/#3">Related link</a></li>
          </ul>
        </nav>
      </div>
    </aside>

  </div>
{% endblock %}
