{% set pageTitle = "Get an isolation note" %}

{% extends "includes/layout.html" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-u-margin-bottom-5">Get an isolation note</h1>
      <p>Use this service if you have been told to self-isolate because of coronavirus and you need a note for your employer.</p>
      <p>This service is only for people who:</p>
      <ul>
        <li>have symptoms of coronavirus</li>
        <li>live with someone who has symptoms of coronavirus</li>
      </ul>

      <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information: </span>
        <p>If you have symptoms of coronavirus, the first thing you need to do is get health advice. If you have not already done this, go to:</p>
        <ul>
          <li><a href="https://111.nhs.uk/covid-19">111 online coronavirus service</a> (England)</li>
          <li><a href="https://www.nhsinform.scot/self-help-guides/self-help-guide-coronavirus-covid-19">NHS inform</a> (Scotland)</li>
          <li><a href="https://www.nhsdirect.wales.nhs.uk/SelfAssessments/symptomcheckers/COVID19.aspx">NHS Direct Wales</a></li>
          <li><a href="https://www.publichealth.hscni.net/news/covid-19-coronavirus">Public Health Agency</a> (Northern Ireland)</li>
        </ul>
      </div>
      
      <h2 class="nhsuk-heading-m">Before you start</h2>

      <p>If you are not sure if you need to self-isolate, <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/">get the latest NHS advice on coronavirus</a>.</p>
      <p>If you have to stay at home but feel well enough to work, ask your employer if you can work from home. If you can work from home, you will not need an isolation note.</p>
  
      <a class="nhsuk-button" href="/screener-question">Start now</a>

      <p>You can also use this service for someone else.</p> 
      <p>Employers can check an isolation note is valid by using the <a href="https://111.nhs.uk/isolation-note/check">Check an isolation note service</a>.</p>
      <p>By using this service you are agreeing to our <a href="https://www.nhs.uk/using-the-nhs/nhs-services/the-nhs-app/isolation-note/terms/" target="_blank" rel="noopener noreferrer">terms of use</a> and <a href="https://www.nhs.uk/using-the-nhs/nhs-services/the-nhs-app/isolation-note/privacy/" target="_blank" rel="noopener noreferrer">privacy policy</a>.</p>
    
    </div>

  </div>
{% endblock %}
