{% set pageTitle = "You do not need an isolation note" %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% extends "includes/layout.html" %}

{% block backLink %}
<div class="nhsuk-back-link">
  <a class="nhsuk-back-link__link" href="/screener-question-why">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back
  </a>
</div>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">You do not need an isolation note</h1>
      <p>Isolation notes are only for people who have been told to self-isolate because they:
        <ul>
          <li>have symptoms of coronavirus</li>
          <li>live (or are in a support bubble) with someone who has symptoms of coronavirus</li>
          <li>have been told to self-isolate by a test and trace service</li>
      </ul>
      
      <h2 class="nhsuk-heading-m">If you are at moderate risk (clinically vulnerable)</h2>

      <p>This includes people who:</p>
      <ul>
        <li>are pregnant</li>
        <li>have a condition that may increase their risk from coronavirus</li>
        <li>are 70 or older</li>
      </ul>
      <p>If you are at moderate risk from coronavirus, you should work from home if possible. Your employer should support you to do this.</p>
      <p>If you cannot work from home and are concerned about having to go to work, talk to your employer. Employers should make sure suitable arrangements are in place so you can continue coming in to work.</p>
      
      <p>For more information on going to work and workers' rights, see:</p>
      <br><a href="https://www.gov.uk/government/publications/coronavirus-outbreak-faqs-what-you-can-and-cant-do/coronavirus-outbreak-faqs-what-you-can-and-cant-do">GOV.UK: Coronavirus outbreak FAQs - what you can and can't do</a></li>
      </br>

      <h2 class="nhsuk-heading-m">If you are at high risk (clinically extremely vulnerable)</h2>
     
      <p>People at high risk from coronavirus are advised to take extra steps to protect themselves. This is called shielding.</p>
      <p>If you are at high risk, the NHS should have sent you a letter advising you to stay at home for at least 12 weeks. Speak to your GP or care team if you have not been contacted and think you should have been.</p>
      <p>If you need proof for your employer that you cannot work, the letter you received from the NHS counts as medical evidence. You do not need an isolation note. </p>
      <p>Find more <a href="https://www.gov.uk/government/publications/guidance-on-shielding-and-protecting-extremely-vulnerable-persons-from-covid-19/guidance-on-shielding-and-protecting-extremely-vulnerable-persons-from-covid-19">information on working in the full advice on protecting yourself from coronavirus if you're at high risk (extremely vulnerable) on GOV.UK</a>.</p>
      <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information: </span>
        <p>Find more <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/advice-for-people-at-high-risk/">advice on staying at home if you're at high risk of getting seriously ill from coronavirus</a>.</p>
      </div>
      </div>
{% endblock %}
