{% set pageTitle = "Are you off work because you're looking after someone who is affected by coronavirus" %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% extends "includes/layout.html" %}

{% block backLink %}
<div class="nhsuk-back-link">
  <a class="nhsuk-back-link__link" href="/">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back
  </a>
</div>
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form method="post" action="/screener-question-alt/answer">

        <div class="nhsuk-form-group">
          <h1 class="nhsuk-label-wrapper">
            <label class="nhsuk-label nhsuk-label--l">
              Are you off work because you're looking after someone who is affected by coronavirus?
            </label>
          </h1>
  
          <div class="nhsuk-radios">
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="self-isolate-other-1" name="self-isolate-other" type="radio" value="yes" {{ checked("self-isolate-other", "yes") }}>
              <label class="nhsuk-label nhsuk-radios__label" for="self-isolate-other-1">
                Yes
              </label>
            </div>
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="self-isolate-other-2" name="self-isolate-other" type="radio" value="no" {{ checked("self-isolate-other", "no") }}>
              <label class="nhsuk-label nhsuk-radios__label" for="self-isolate-other-2">
                No
              </label>
            </div>
          </div>

        </div>

        <button class="nhsuk-button" type="submit">
          Continue
        </button>

      </form>

    </div>  
  </div>
{% endblock %}
