{% set pageTitle = "You can only get an isolation note if you have been told to stay at home" %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% extends "includes/layout.html" %}

{% block backLink %}
<div class="nhsuk-back-link">
  <a class="nhsuk-back-link__link" href="/screener-question">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back
  </a>
</div>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">You do not need an isolation note</h1>
      <p>You can only get an isolation note if:</p>
      <ul>
        <li>you have been told to stay at home by official advice, NHS 111 or a healthcare professional</li>
      </ul>
      <p>If you are not sure if you need to stay at home, get advice from:</p>
      <ul>
        <li>England: <a href="https://111.nhs.uk/covid-19">NHS 111 online coronavirus service</a></li>
        <li>Scotland: <a href="https://www.nhsinform.scot/illnesses-and-conditions/infections-and-poisoning/coronavirus-covid-19">NHS inform</a></li>
        <li>Wales: <a href="https://www.nhsdirect.wales.nhs.uk/">NHS Direct Wales</a></li>
        <li>Northern Ireland: Call 111</li>
      </ul>

    </div>  
  </div>
{% endblock %}
