{% set pageTitle = "Why do you have to self-isolate" %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% extends "includes/layout.html" %}

{% block backLink %}
<div class="nhsuk-back-link">
  <a class="nhsuk-back-link__link" href="/screener-question">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back
  </a>
</div>
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form method="post" action="/screener-question-why/answer">

        <div class="nhsuk-form-group">

          <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <h1 class="nhsuk-fieldset__heading">
                Why do you have to self-isolate?
              </h1>
            </legend>

            <div class="nhsuk-radios">
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="isolation-1" name="isolation-why" type="radio" value="I have symptoms of coronavirus">
                <label class="nhsuk-label nhsuk-radios__label" for="isolation-1">
                  I have symptoms of coronavirus
                </label>
              </div>
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="isolation-2" name="isolation-why" type="radio" value="I live with someone who has symptoms of coronavirus">
                <label class="nhsuk-label nhsuk-radios__label" for="isolation-2">
                  I live with someone who has symptoms of coronavirus
                </label>
              </div>
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="isolation-3" name="isolation-why" type="radio" value="I have a medical condition which means I shouldn't go to work">
                <label class="nhsuk-label nhsuk-radios__label" for="isolation-3">
                  I have a medical condition which means I shouldn't go to work
                </label>
              </div>
            </div>
          </fieldset>

        </div>

        <details class="nhsuk-details">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Why are we asking this?
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <p>We need to include this information on your isolation note.</p>
            <p>The reason you need to self-isolate may affect the end date of your isolation note.</p>
          </div>
        </details>

        <button class="nhsuk-button" type="submit">
          Continue
        </button>

      </form>

    </div>  
  </div>
{% endblock %}
