{% set pageTitle = "Who has asked you to self isolate" %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% extends "includes/layout.html" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">You do not need to use a coronavirus self-isolation note</h1>
      <p>If you have not been told to self-isolate by NHS 111 or a medical profesionnal, you do not need a coronavirus self-isolation note.</p>
      <p>If you are not sure if you need to self-isolate, get advice from the <a href="https://111.nhs.uk/covid-19">111 coronavirus service</a>.</p>

    </div>  
  </div>
{% endblock %}
