{% set pageTitle = "Technical frequently asked question" %}

{% extends "includes/layout.html" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>Technical frequently asked question</h1>

      <div class="nhsuk-expander-group">
        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Question
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <p>Answer.</p>
          </div>
        </details>

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Question
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <p>Answer.</p>
          </div>
        </details>

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Question
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <p>Answer.</p>
          </div>
        </details>

      </div>

    </div>

  </div>
{% endblock %}
